
alloy/.DS_Store
.DS_Store
/bin/
main/4302_Project.iml
main/.idea/
main/src/tests/alloy_example_output.xml
main/src/docs/doc-1.pdf
main/src/docs/doc-1.docx
main/src/docs/doc-2.docx
main/src/docs/doc-2.pdf
main/src/docs/doc-3.docx
main/src/docs/doc-3.pdf
main/src/docs/Report.docx
main/src/docs/Report.pdf
main/src/docs/Report_edited.docx
main/src/docs/team.txt